body {
    background-image: url("/Content/Img/Background.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.body-content {
    background-color: rgba(0, 0, 0, 0.35);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-default {
    padding-top: 10px;
    background-color: transparent;
    border-color: transparent;
}

a:hover a:visited, a:link, a:active {
    text-decoration: none;
}

.col-sm-4 {
    padding: 15px 15px;
}

.post-content {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.well {
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(255, 255, 255, 0.10);
}

table {
    background-color: #fff;
}

table, .table {
    color: black;
}

.all-comments {
    padding: 15px 15px 0;
}

.margin-15 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.content img {
    max-width: 90%;
}

.alert {
    margin-top: 20px;
}