body {
    background-image: url("/Content/Img/Background.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.body-content {
    background-color: rgba(0, 0, 0, 0.35);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-default {
    padding-top: 10px;
    background-color: transparent;
    border-color: transparent;
}

a:hover a:visited, a:link, a:active {
    text-decoration: none;
}

.alert {
    margin-top: 20px;
}

/*custom classes (start)*/
.margin-15 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.max-width-90 {
    width: 90%;
}

.padding-left-0 {
    padding-left: 0;
}

.text-size-30 {
    font-size: 30px;
}

.text-color-white {
    color: #fff;
}
/*custom classes (end)*/

/*fixing kendo grid (start)*/
div.k-grid table {
    background-color: #fff;
    color: #515967;
}

    div.k-grid table a {
        color: #515967;
        text-decoration: none;
    }
/*fixing kendo grid (end)*/

/*for Kendo Upload button*/

.k-upload .k-button {
    margin: 0 0 0 0;
}