@model IEnumerable<SpeedHero.Web.ViewModels.Home.IndexViewModel>

@{
    const int NumberOfPostsPerRow = 3;
    int allPostsCount = Model.Count();
    int currentPostCounter = 0;

    if (allPostsCount != 0)
    {
        <div class="row">
            @foreach (var post in Model)
            {
                currentPostCounter++;

                <div class="col-sm-4">
                    <a href="~/ShowPost/@post.Id">
                        <img src="@post.CoverPhotoPath" class="img-responsive center-block" />
                    </a>
                    <a href="~/ShowPost/@post.Id">
                        <h3>@post.Title</h3>
                    </a>
                    <div>
                        @Html.DisplayFor(p => post.CreatedOn) - @post.Comments.Count
                        @{
                            if (post.Comments.Count == 1)
                            {
                                @:Comment
                            }
                            else
                            {
                                @:Comments
                            }
                        }
                    </div>
                </div>

                if (currentPostCounter % NumberOfPostsPerRow == 0)
                {
                    <div class="clearfix"></div>
                }
            }
        </div>
    }
    else
    {
        <div class="alert alert-warning">
            There are no posts yet.
        </div>
    }
}
