@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<p>This is a demo web project used for educational purposes.</p>
<ul>
    <li>Used technology - ASP.NET MVC</li>
    <li>Database - MS SQL with Code First approach</li>
    <li>Controls - Kendo UI</li>
    <li>Theme - Bootstrap</li>
    <li>IDE - Visual Studio 2013</li>
    <li>other - AJAX</li>
    <li><a href="https://github.com/ivossss/SpeedHero">source</a></li>
</ul>