@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<p class="lead">This is a demo web application used for educational purposes.</p>
<ul>
    <li>Technology - ASP.NET MVC</li>
    <li>Database - MS SQL</li>
	<li>ORM - Entity Framework (with Code First approach)</li>
    <li>Controls - Kendo UI</li>
    <li>Theme - Twitter Bootstrap</li>
    <li>IDE - Visual Studio 2013</li>
    <li>Inversion of Control Container - Ninject</li>
    <li>Adding comments works with AJAX</li>
    <li>Currently there is 1 minute caching on the index page</li>
    <li><a href="https://github.com/ivossss/SpeedHero">Source Code</a></li>
</ul>