@model IEnumerable<SpeedHero.Web.ViewModels.Home.PostViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div>
    @foreach (var post in Model)
    {
        <a href="~/Post/Post/@post.Id"><h3>@post.Title</h3></a>
        
        <div>@post.CreatedOn - @post.Comments.Count Comments</div>
    }
</div>