@model IEnumerable<SpeedHero.Web.ViewModels.Home.PostViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div>
    @foreach (var post in Model)
    {
        <h3>@post.Title</h3>
        <div>@post.CreatedOn - @post.Comments.Count Comments</div>
    }
</div>