@model IEnumerable<SpeedHero.Web.ViewModels.Home.IndexViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div>
    @foreach (var post in Model)
    {
        <a href="~/Post/ShowPost/@post.Id">
            <h3>@post.Title</h3>
        </a>

        <div>@Html.DisplayFor(p => post.CreatedOn) - @post.Comments.Count Comments</div>

        <a href="~/Post/ShowPost/@post.Id">
            <img src="@post.CoverPhotoPath" width="300" />
        </a>
    }
</div>