@model IEnumerable<SpeedHero.Web.ViewModels.Home.PostViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div>
    @foreach (var post in Model)
    {
        <p>
            @post.Title
        </p>
    }
</div>