@model int

<div class="row">
    <div class="col-sm-12">
        @Html.ActionLink("Login to leave a comment", "Login", "Account", routeValues: new { returnUrl = @Url.RouteUrl("Show post", new { id = Model }) },
                htmlAttributes: new { id = "loginLink", @class = "btn btn-primary margin-bottom-15" })
    </div>
</div>

@Html.Action("ShowComments", "Comment", new { postId = Model })