@model int

<div class="row">
    <div class="col-sm-12">
        @Html.ActionLink("Login to comment", "Login", "Account", routeValues: null,
                htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-sm margin-bottom-15" })
    </div>
</div>

@Html.Action("ShowComments", "Comment", new { postId = Model })