@model ICollection<SpeedHero.Web.ViewModels.Comments.ShowCommentViewModel>

@foreach (var comment in Model)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Posted on: @comment.CreatedOn 
                    <br />
                    Author: @comment.AuthorName
                </div>
                <div class="panel-body">
                    @Html.Raw(comment.Content)
                </div>
            </div>
        </div>
    </div>
}