@model ICollection<SpeedHero.Web.ViewModels.Comments.ShowCommentViewModel>

<div class="row">
    <div class="col-md-12">
        @foreach (var comment in Model)
        {
            <div class="row well">
                @comment.Author.UserName
                @comment.CreatedOn
                @Html.Raw(comment.Content)
            </div>
        }
    </div>
</div>