@model IEnumerable<SpeedHero.Web.Areas.Administration.ViewModels.Comments.ShowCommentsViewModel>

<div class="text-center text-size-30 text-color-white">Comments (@Model.Count())</div>

<div class="row margin-15">
    <div class="col-sm-12">
        @foreach (var comment in Model)
        {
            <div class="row">
                <div class="col-sm-10">
                    <dl class="dl-horizontal">
                        <dt class="text-primary">Comment content</dt>
                        <dd>@Html.Raw(comment.Content)</dd>
                    </dl>
                </div>
                <div class="col-sm-1 padding-left-0">
                    @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, new { @class = "btn btn-primary btn-block" })
                </div>
                <div class="col-sm-1 padding-left-0">
                    @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, new { @class = "btn btn-danger btn-block" })
                </div>
            </div>
        }
    </div>
</div>