@model IEnumerable<SpeedHero.Web.ViewModels.Home.IndexViewModel>

@{
    ViewBag.Title = "Home";
}

@{
    foreach (var post in Model)
    {
        <div class="col-md-4 index-height">
            <a href="~/Post/ShowPost/@post.Id">
                <img src="@post.CoverPhotoPath" width="350" />
            </a>
            <a href="~/Post/ShowPost/@post.Id">
                <h3>@post.Title</h3>
            </a>
            @Html.DisplayFor(p => post.CreatedOn) - @post.Comments.Count
            @{
                if (post.Comments.Count == 1)
                {
                    @:Comment
                }
                else
                {
                    @:Comments                    
                }
            }
        </div>
    }
}
